html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #11325B;
  	-webkit-user-select: none;
 	 -khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
 	 -o-user-select: none;
 	 user-select: none;
}

* {
    transition: all 0.5s ease;
}

.bg {
    /* The image used */
    background-image: url("../img/bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-font {
    font-family: 'Sigmar One', cursive;
}

.contact-font {
    font-family: 'Comic Neue', cursive;
}

.header-style {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: #2C5072;
    font-size: 80px;
    text-align: center;
}

.sub-header-style {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
}

.btn-style {
    background-color: #2C5072;
    border: black solid 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none !important;
}

.btn-style:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.hr-style {
    border-top: 1px solid white;
}

.p-style {
    font-size: 16px;
    color: white;
    font-family: 'Carter One', cursive;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.nav-style {
    background-color: #2C5072;
    margin-right: 5%;
    margin-bottom: 5%;
    color: white !important;
}

.nav-style:hover {
    background-color: white;
    color: black !important;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: none;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.active:hover {
    background-color: white !important;
    color: black !important;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.active {
    background-color: #2C5072 !important;
    color: white !important;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.margin-top {
    padding-top: 15%;
}

.btn-margin {
    margin-bottom: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #11325B;
    color: black;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
}

.img-rounded {
    border-radius: 50px;
}