@media only screen and (max-width: 980px) {
.bg {
    background-color: #11325B;
    background-image: none;
  }
.header-style {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: #2C5072;
    font-size: 55px !important;
    text-align: center !important;
}
.sub-header-style {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: white;
    font-size: 20px !important;
    text-align: center !important;
}

.clear {
  clear: both;
  height: 100px;
}

body { 
  background-color: #11325B;
  overflow-y: scroll !important;
}

.img-rounded{
  width: 100%;
  height: 100%;
	}
	
.nav-style {
	font-size: 20px;
}
}